Projects/XML/Relax NG 2/NG2.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = root
    root = element root {song}
    song = element song {verse, chorus, outro}            
        verse = element verse {num}
        chorus = element chorus {num}
            num = attribute num {text}
        outro = element outro {text}